<form [formGroup]="passwordUpdateForm" (submit)="onSubmit()">
  <mat-form-field appearance="outline">
    <mat-label>Current Password</mat-label>
    <input type="password" formControlName="currentPassword" matInput autocomplete="off" />
    <mat-error *ngIf="passwordUpdateForm?.get('currentPassword')?.hasError('required')"
      ><mat-icon>error</mat-icon> Current password is required.</mat-error
    >
    <mat-error
      *ngIf="
        !passwordUpdateForm?.get('currentPassword')?.hasError('required') &&
        passwordUpdateForm?.get('currentPassword')?.hasError('pattern')
      "
      ><mat-icon>error</mat-icon> Password should not contain spaces.</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>New Password</mat-label>
    <input type="password" formControlName="newPassword" matInput autocomplete="off" />
    <mat-error *ngIf="passwordUpdateForm?.get('newPassword')?.hasError('required')"
      ><mat-icon>error</mat-icon> New password is required.</mat-error
    >
    <mat-error
      *ngIf="
        !passwordUpdateForm?.get('newPassword')?.hasError('required') &&
        passwordUpdateForm?.get('newPassword')?.hasError('pattern')
      "
      ><mat-icon>error</mat-icon> Password should not contain spaces.</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Confirm Password</mat-label>
    <input type="password" formControlName="confirmNewPassword" matInput autocomplete="off" />
    <mat-error *ngIf="passwordUpdateForm?.get('confirmNewPassword')?.hasError('required')"
      ><mat-icon>error</mat-icon> Confirmation is required.</mat-error
    >
    <mat-error
      *ngIf="
        !passwordUpdateForm?.get('confirmNewPassword')?.hasError('required') &&
        passwordUpdateForm?.get('confirmNewPassword')?.hasError('unmatch')
      "
      ><mat-icon>error</mat-icon> Passwords don't match.</mat-error
    >
  </mat-form-field>

  <mat-card-actions>
    <div class="button-container">
      <app-loading-button
        [isLoading]="isLoading"
        value="Update"
        (click)="onSubmit()"
      ></app-loading-button>
    </div>
  </mat-card-actions>
</form>
