<app-header-card value="Signup"></app-header-card>
<mat-card>
  <mat-card-content>
    <form [formGroup]="signupForm" (submit)="onFormSubmit()">
      <div fxLayout="row wrap" fxLayoutGap="grid">
        <div fxFlex="49%" fxFlex.xs="100%">
          <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input formControlName="firstName" matInput autocomplete="off" />
            <button type="button" mat-button matPrefix mat-icon-button>
              <mat-icon>person</mat-icon>
            </button>
            <mat-error *ngIf="signupForm?.get('firstName')?.hasError('required')"
              ><mat-icon>error</mat-icon> First Name is required.</mat-error
            >
            <mat-error
              *ngIf="
                !signupForm?.get('firstName')?.hasError('required') &&
                signupForm?.get('firstName')?.hasError('pattern')
              "
              ><mat-icon>error</mat-icon> Field contains invalid characters.</mat-error
            >
          </mat-form-field>
        </div>
        <div fxFlex="2%" fxFlex.xs="0%"></div>
        <div fxFlex="49%" fxFlex.xs="100%">
          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input formControlName="lastName" matInput autocomplete="off" />
            <button type="button" mat-button matPrefix mat-icon-button>
              <mat-icon>person</mat-icon>
            </button>
            <mat-error *ngIf="signupForm?.get('lastName')?.hasError('required')"
              ><mat-icon>error</mat-icon> Last Name is required.</mat-error
            >
            <mat-error
              *ngIf="
                !signupForm?.get('lastName')?.hasError('required') &&
                signupForm?.get('lastName')?.hasError('pattern')
              "
              ><mat-icon>error</mat-icon> Field contains invalid characters.</mat-error
            >
          </mat-form-field>
        </div>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput autocomplete="off" />
        <button type="button" mat-button matPrefix mat-icon-button>
          <mat-icon>email</mat-icon>
        </button>
        <mat-error *ngIf="signupForm?.get('email')?.hasError('required')"
          ><mat-icon>error</mat-icon> Email is required.</mat-error
        >
        <mat-error
          *ngIf="
            !signupForm?.get('email')?.hasError('required') &&
            signupForm?.get('email')?.hasError('pattern')
          "
          ><mat-icon>error</mat-icon> Please enter a valid Email.</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" formControlName="password" matInput autocomplete="off" />
        <button type="button" mat-button matPrefix mat-icon-button>
          <mat-icon>lock</mat-icon>
        </button>
        <mat-error *ngIf="signupForm?.get('password')?.hasError('required')"
          ><mat-icon>error</mat-icon> Password is required.</mat-error
        >
        <mat-error
          *ngIf="
            !signupForm?.get('password')?.hasError('required') &&
            signupForm?.get('password')?.hasError('pattern')
          "
          ><mat-icon>error</mat-icon> Password should not contain spaces.</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input type="password" formControlName="confirmPassword" matInput autocomplete="off" />
        <button type="button" mat-button matPrefix mat-icon-button>
          <mat-icon>lock</mat-icon>
        </button>
        <mat-error *ngIf="signupForm?.get('confirmPassword')?.hasError('required')"
          ><mat-icon>error</mat-icon> Confirmation is required.</mat-error
        >
        <mat-error
          *ngIf="
            !signupForm?.get('confirmPassword')?.hasError('required') &&
            signupForm?.get('confirmPassword')?.hasError('unmatch')
          "
          ><mat-icon>error</mat-icon> Passwords don't match.</mat-error
        >
      </mat-form-field>

      <mat-card-actions>
        <app-loading-button
          [isLoading]="isLoading"
          height="50px"
          width="96%"
          value="OK"
          (click)="onFormSubmit()"
        ></app-loading-button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
