<mat-toolbar color="primary">
  <img src="assets/logo.png" alt="logo" style="margin-right: 10px" />
  {{ appName }}
  <span class="spacer"></span>
  <div fxShow="true" fxHide.gt-sm="true">
    <button mat-icon-button aria-label="More icon" [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>

  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>login</mat-icon>
      <span>Login</span>
    </button>
    <button mat-menu-item>
      <mat-icon>person_add</mat-icon>
      <span>Join Us</span>
    </button>
    <button mat-menu-item>
      <mat-icon>info</mat-icon>
      <span>About Us</span>
    </button>
  </mat-menu>
</mat-toolbar>
