<mat-toolbar color="primary">
  <button
    mat-icon-button
    color="accent"
    aria-label="Menu button with menu icon"
    *ngIf="!isLoggedOut()"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <img src="assets/logo.png" alt="logo" />
  <a mat-button class="title" routerLink="/home">
    <span>{{ appName }}</span>
  </a>
  <span class="spacer"></span>

  <button mat-flat-button color="accent" routerLink="/signup" *ngIf="isLoggedOut()">Join Us</button>

  <div fxShow="true" fxHide.lt-sm="true" *ngIf="isLoggedOut()">
    <a mat-button routerLink="/login">Login</a>
    <a mat-button routerLink="/about">About Us</a>
  </div>

  <div fxShow="true" fxHide.gt-xs="true" *ngIf="isLoggedOut()">
    <button mat-icon-button aria-label="More icon" [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/login">
        <mat-icon>login</mat-icon>
        <span>Login</span>
      </button>
      <button mat-menu-item routerLink="/about">
        <mat-icon>info</mat-icon>
        <span>About Us</span>
      </button>
    </mat-menu>
  </div>

  <button
    mat-icon-button
    color="accent"
    aria-label="Logout button with logout icon"
    *ngIf="!isLoggedOut()"
    (click)="authService.logout()"
  >
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
