.container {
  height: calc(100vh - 74px);
  margin-top: 10px;
}

@media only screen and (max-width: 599px) {
  .container {
    height: calc(100vh - 66px);
  }
}

.w-100 {
  width: 100%;
}

.mt-5 {
  margin-top: 5px;
}

tr:hover {
  background: #b4b4b433;
  cursor: pointer;
}
