<app-user-info-row iconName="email" heading="Email" [value]="user?.email"></app-user-info-row>
<mat-divider></mat-divider>
<app-user-info-row
  iconName="schedule"
  heading="Joined"
  [value]="user?.createdAt | date"
></app-user-info-row>
<mat-divider></mat-divider>
<app-user-info-row
  iconName="account_balance_wallet"
  heading="Balance"
  [value]="balance"
  [color]="balance > 0 ? 'green' : 'red'"
></app-user-info-row>
<mat-divider></mat-divider>
<app-user-info-row
  iconName="receipt"
  heading="Total Transactions"
  [value]="txCount"
></app-user-info-row>
<mat-divider></mat-divider>
<app-user-info-row
  iconName="category"
  heading="Total Categories"
  [value]="catCount"
></app-user-info-row>
