.container {
  height: calc(100vh - 74px);
  margin-top: 10px;
}

@media only screen and (max-width: 599px) {
  .container {
    height: calc(100vh - 66px);
  }
}

table {
  width: 100%;
}

.ta-c {
  text-align: center;
}

.mb-100 {
  margin-bottom: 100px;
}
