.content {
  margin-top: 10px;
  margin-bottom: 50px;
}

.profile-photo-holder {
  position: relative;
  color: white;
  width: 100%;
  height: auto;
}

.profile-photo-holder img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.profile-photo-overlay {
  background-color: rgb(0, 0, 0);
  opacity: 0.533;
  height: calc(100% - 5px);
  width: 100%;

  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

.user-full-name {
  position: absolute;
  bottom: 12px;
  left: 10px;
  font-size: x-large;
}

mat-spinner {
  position: absolute;
  top: 10px;
  right: 10px;
}
