<div fxFlex fxLayout="row" fxLayoutAlign="center">
  <div fxFlex="0" fxFlex.md="0" fxFlex.sm="0" fxFlex.xs="0"></div>
  <div fxFlex="700px" fxFlex.md="600px" fxFlex.sm="500px" fxFlex.xs="100" class="content">
    <div class="top-image">
      <img [src]="imageSource" alt="Profile" class="mat-elevation-z6 w-100 h-100" />
      <div class="name thin-font">{{ user?.firstName }} {{ user?.lastName }}</div>
      <mat-spinner diameter="20" color="accent" *ngIf="isMasterLoading"></mat-spinner>
    </div>
    <mat-tab-group mat-align-tabs="center" animationDuration="200ms">
      <mat-tab label="Info" [disabled]="isMasterLoading">
        <app-profile-info-row
          iconName="email"
          heading="Email"
          [value]="user?.email"
        ></app-profile-info-row>
        <mat-divider></mat-divider>
        <app-profile-info-row
          iconName="history"
          heading="Joined"
          [value]="user?.createdAt | date"
        ></app-profile-info-row>
        <mat-divider></mat-divider>
        <app-profile-info-row
          iconName="account_balance"
          heading="Balance"
          [value]="balance > 0 ? '+' + balance : balance"
          [valueColor]="balance > 0 ? 'green' : 'red'"
        ></app-profile-info-row>
      </mat-tab>
      <mat-tab label="Edit" [disabled]="isMasterLoading">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Change General Info </mat-panel-title>
            </mat-expansion-panel-header>
            <form [formGroup]="generalUpdateForm" (submit)="onGeneralUpdateClick()">
              <div fxLayout="row wrap" fxLayoutGap="grid">
                <div fxFlex="49%" fxFlex.xs="100%">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>First Name</mat-label>
                    <input matInput formControlName="firstName" autocomplete="off" />
                    <mat-error *ngIf="generalUpdateForm?.get('firstName')?.hasError('required')"
                      >First Name is required.</mat-error
                    >
                    <mat-error
                      *ngIf="
                        !generalUpdateForm?.get('firstName')?.hasError('required') &&
                        generalUpdateForm?.get('firstName')?.hasError('pattern')
                      "
                      >Use alphabet or numbers.</mat-error
                    >
                  </mat-form-field>
                </div>
                <div fxFlex="2%" fxFlex.xs="0"></div>
                <div fxFlex="49%" fxFlex.xs="100%">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="lastName" autocomplete="off" />
                    <mat-error *ngIf="generalUpdateForm?.get('lastName')?.hasError('required')"
                      >Last Name is required.</mat-error
                    >
                    <mat-error
                      *ngIf="
                        !generalUpdateForm?.get('lastName')?.hasError('required') &&
                        generalUpdateForm?.get('lastName')?.hasError('pattern')
                      "
                      >Use alphabet or numbers.</mat-error
                    >
                  </mat-form-field>
                </div>
              </div>
              <div align="end">
                <app-loading-button
                  btnText="Update"
                  [loading]="isGeneralUpdateLoading"
                  (click)="onGeneralUpdateClick()"
                ></app-loading-button>
              </div>
            </form>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Change Password </mat-panel-title>
            </mat-expansion-panel-header>
            <form [formGroup]="passwordUpdateForm" (submit)="onPasswordUpdateClick()">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Current Password</mat-label>
                <input
                  type="password"
                  formControlName="currentPassword"
                  matInput
                  autocomplete="off"
                />
                <mat-error *ngIf="passwordUpdateForm?.get('currentPassword')?.hasError('required')"
                  >Current Password is required.</mat-error
                >
                <mat-error
                  *ngIf="
                    !passwordUpdateForm?.get('currentPassword')?.hasError('required') &&
                    passwordUpdateForm?.get('currentPassword')?.hasError('minlength')
                  "
                  >Password too short.</mat-error
                >
                <mat-error
                  *ngIf="
                    !passwordUpdateForm?.get('currentPassword')?.hasError('required') &&
                    !passwordUpdateForm?.get('currentPassword')?.hasError('minlength') &&
                    passwordUpdateForm?.get('currentPassword')?.hasError('pattern')
                  "
                  >Password shouldn't contain whitespaces.</mat-error
                >
              </mat-form-field>
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>New Password</mat-label>
                <input type="password" formControlName="newPassword" matInput autocomplete="off" />
                <mat-error *ngIf="passwordUpdateForm?.get('newPassword')?.hasError('required')"
                  >New Password is required.</mat-error
                >
                <mat-error
                  *ngIf="
                    !passwordUpdateForm?.get('newPassword')?.hasError('required') &&
                    passwordUpdateForm?.get('newPassword')?.hasError('minlength')
                  "
                  >Password too short.</mat-error
                >
                <mat-error
                  *ngIf="
                    !passwordUpdateForm?.get('newPassword')?.hasError('required') &&
                    !passwordUpdateForm?.get('newPassword')?.hasError('minlength') &&
                    passwordUpdateForm?.get('newPassword')?.hasError('pattern')
                  "
                  >Password shouldn't contain whitespaces.</mat-error
                >
              </mat-form-field>
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Confirm New Password</mat-label>
                <input
                  type="password"
                  formControlName="confirmNewPassword"
                  matInput
                  autocomplete="off"
                />
                <mat-error
                  *ngIf="passwordUpdateForm?.get('confirmNewPassword')?.hasError('unmatch')"
                  >Passwords don't match.</mat-error
                >
              </mat-form-field>
              <div align="end">
                <app-loading-button
                  btnText="Update"
                  [loading]="isPasswordUpdateLoading"
                  (click)="onPasswordUpdateClick()"
                ></app-loading-button>
              </div>
            </form>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-tab>
    </mat-tab-group>
    <div class="gap"></div>
  </div>
  <div fxFlex="0" fxFlex.md="0" fxFlex.sm="0" fxFlex.xs="0"></div>
</div>
