<div fxFlex fxLayout="row" fxLayoutAlign="center">
  <div fxFlex="0" fxFlex.md="0" fxFlex.sm="0" fxFlex.xs="0"></div>
  <div fxFlex="700px" fxFlex.md="600px" fxFlex.sm="500px" fxFlex.xs="100">
    <div class="top-image">
      <img [src]="imageSource" alt="Profile" class="mat-elevation-z6 w-100 h-100" />
      <div class="name thin-font">{{ user?.firstName }} {{ user?.lastName }}</div>
      <mat-spinner diameter="20" color="accent" *ngIf="isLoading"></mat-spinner>
    </div>
    <mat-tab-group mat-align-tabs="center" animationDuration="200ms">
      <mat-tab label="Info">
        <app-profile-info-row
          iconName="email"
          heading="Email"
          [value]="user?.email"
        ></app-profile-info-row>
        <mat-divider></mat-divider>
        <app-profile-info-row
          iconName="history"
          heading="Joined"
          [value]="user?.createdAt | date"
        ></app-profile-info-row>
      </mat-tab>
      <mat-tab label="Edit">Content 2</mat-tab>
    </mat-tab-group>
  </div>
  <div fxFlex="0" fxFlex.md="0" fxFlex.sm="0" fxFlex.xs="0"></div>
</div>
