:host {
  height: calc(100vh - 56px);
}

.content {
  margin-top: 10px;
}

.top-image {
  position: relative;
  color: white;
}

.top-image img {
  border-radius: 10px;
}

.top-image .name {
  position: absolute;
  bottom: 12px;
  left: 10px;
  font-size: x-large;
}

.mat-spinner {
  position: absolute;
  top: 10px;
  right: 10px;
}

::ng-deep .mat-tab-header-pagination {
  display: none !important;
}

::ng-deep.mat-tab-label,
::ng-deep.mat-ink-bar {
  width: 50%;
  padding: 0 !important;
}

.gap {
  height: 30px;
}
