<div fxFlex fxLayout="row" fxLayoutAlign="center">
  <div fxFlex="0" fxFlex.md="0" fxFlex.sm="0" fxFlex.xs="0"></div>
  <div fxFlex="700px" fxFlex.md="600px" fxFlex.sm="500px" fxFlex.xs="100">
    <div class="top-image">
      <img [src]="imageSource" alt="Profile" class="mat-elevation-z6 w-100 h-100" />
      <div class="name thin-font">{{ user?.firstName }} {{ user?.lastName }}</div>
      <mat-spinner diameter="20" color="accent" *ngIf="isMasterLoading"></mat-spinner>
    </div>
    <mat-tab-group mat-align-tabs="center" animationDuration="200ms">
      <mat-tab label="Info" [disabled]="isMasterLoading">
        <app-profile-info-row
          iconName="email"
          heading="Email"
          [value]="user?.email"
        ></app-profile-info-row>
        <mat-divider></mat-divider>
        <app-profile-info-row
          iconName="history"
          heading="Joined"
          [value]="user?.createdAt | date"
        ></app-profile-info-row>
      </mat-tab>
      <mat-tab label="Edit" [disabled]="isMasterLoading">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Change General Info </mat-panel-title>
            </mat-expansion-panel-header>
            <form [formGroup]="generalUpdateForm" (submit)="onGeneralUpdateClick()">
              <div fxLayout="row wrap" fxLayoutGap="grid">
                <div fxFlex="49%" fxFlex.xs="100%">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>First Name</mat-label>
                    <input matInput formControlName="firstName" autocomplete="off" />
                    <mat-error *ngIf="generalUpdateForm?.get('firstName')?.hasError('required')"
                      >First Name is required.</mat-error
                    >
                    <mat-error
                      *ngIf="
                        !generalUpdateForm?.get('firstName')?.hasError('required') &&
                        generalUpdateForm?.get('firstName')?.hasError('pattern')
                      "
                      >Use alphabet or numbers.</mat-error
                    >
                  </mat-form-field>
                </div>
                <div fxFlex="2%" fxFlex.xs="0"></div>
                <div fxFlex="49%" fxFlex.xs="100%">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="lastName" autocomplete="off" />
                    <mat-error *ngIf="generalUpdateForm?.get('lastName')?.hasError('required')"
                      >Last Name is required.</mat-error
                    >
                    <mat-error
                      *ngIf="
                        !generalUpdateForm?.get('lastName')?.hasError('required') &&
                        generalUpdateForm?.get('lastName')?.hasError('pattern')
                      "
                      >Use alphabet or numbers.</mat-error
                    >
                  </mat-form-field>
                </div>
              </div>
              <div align="end">
                <app-loading-button
                  btnText="Update"
                  [loading]="isGeneralUpdateLoading"
                  (click)="onGeneralUpdateClick()"
                ></app-loading-button>
              </div>
            </form>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Change Password </mat-panel-title>
            </mat-expansion-panel-header>
            <p>This is the primary content of the panel.</p>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div fxFlex="0" fxFlex.md="0" fxFlex.sm="0" fxFlex.xs="0"></div>
</div>
