<div fxFlex fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="0" fxFlex.md="0" fxFlex.sm="0" fxFlex.xs="1"></div>
  <div fxFlex="400px" fxFlex.md="400px" fxFlex.sm="400px" fxFlex.xs="98">
    <mat-card class="card-padding" appRaiseOnLoad>
      <mat-card-title class="thin-font title">Password Reset</mat-card-title>
      <mat-card-content>
        <form [formGroup]="prForm" (submit)="onBtnAction()">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>New Password</mat-label>
            <input matInput type="password" formControlName="newPassword" />
            <mat-error *ngIf="prForm?.get('newPassword')?.hasError('required')">
              New Password is required.
            </mat-error>
            <mat-error
              *ngIf="
                !prForm?.get('newPassword')?.hasError('required') &&
                prForm?.get('newPassword')?.hasError('minlength')
              "
            >
              New Password is too short.
            </mat-error>
            <mat-error
              *ngIf="
                !prForm?.get('newPassword')?.hasError('required') &&
                !prForm?.get('newPassword')?.hasError('minlength') &&
                prForm?.get('newPassword')?.hasError('pattern')
              "
            >
              New Password should not contain whitespaces.
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Confirm Password</mat-label>
            <input matInput type="password" formControlName="confirmPassword" />
            <mat-error *ngIf="prForm?.get('confirmPassword')?.hasError('unmatch')">
              Passwords don't match.
            </mat-error>
          </mat-form-field>
          <div align="end">
            <app-loading-button
              btnText="OK"
              (click)="onBtnAction()"
              [loading]="isLoading"
            ></app-loading-button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="0" fxFlex.md="0" fxFlex.sm="0" fxFlex.xs="1"></div>
</div>
