<div fxFlex fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="0" fxFlex.md="0" fxFlex.sm="0" fxFlex.xs="1"></div>
  <div fxFlex="400px" fxFlex.md="400px" fxFlex.sm="400px" fxFlex.xs="98">
    <mat-card class="card-padding" appRaiseOnLoad>
      <mat-card-title class="thin-font title">Forgot Password</mat-card-title>
      <mat-card-content>
        <form>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Email</mat-label>
            <input matInput autocomplete="off" />
            <mat-hint>We'll send the reset instructions to this mail.</mat-hint>
          </mat-form-field>
          <div align="end">
            <app-loading-button btnText="OK"></app-loading-button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="0" fxFlex.md="0" fxFlex.sm="0" fxFlex.xs="1"></div>
</div>
