<div
  class="container"
  fxFlex
  fxLayout="row-reverse"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutGap="10px"
>
  <div fxFlex="50" fxLayout="column" fxLayoutAlign="center center">
    <app-line-chart
      #expenseLine
      hideMore="true"
      [isLoading]="isLoading"
      name="Expense Line Chart"
      class="chart"
    ></app-line-chart>
  </div>
  <div fxFlex="50">
    <app-expense-line-table #table [isLoading]="isLoading"></app-expense-line-table>
  </div>
</div>

<app-bottom-fab-button
  iconName="filter_alt"
  [disabled]="isLoading"
  (click)="openFilterSheet()"
></app-bottom-fab-button>
