<div class="container">
  <div class="mid-align">
    <div class="header">Transaction Filter</div>
    <span class="spacer"></span>
    <button mat-icon-button (click)="onClose()">
      <mat-icon>clear</mat-icon>
    </button>
  </div>

  <form>
    <mat-form-field appearance="outline">
      <mat-label>Start Amount</mat-label>
      <input matInput type="number" autocomplete="off" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>End Amount</mat-label>
      <input matInput type="number" autocomplete="off" />
    </mat-form-field>
    <br />
    <mat-form-field appearance="outline">
      <mat-label>Start Date</mat-label>
      <input matInput [matDatepicker]="startPicker" />
      <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
      <mat-datepicker #startPicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>End Date</mat-label>
      <input matInput [matDatepicker]="endPicker" />
      <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
      <mat-datepicker #endPicker></mat-datepicker>
    </mat-form-field>
    <br />
    <mat-progress-bar mode="indeterminate" *ngIf="isCategoryLoading"></mat-progress-bar>
    <mat-form-field appearance="outline">
      <mat-label>Category</mat-label>
      <mat-select>
        <mat-option *ngFor="let catName of catNames" [value]="catName">
          {{ catName }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Notes Hint</mat-label>
      <input matInput type="text" autocomplete="off" />
    </mat-form-field>
    <div class="btn-div">
      <button mat-raised-button color="primary" class="ok-btn" type="button">OK</button>
      <button mat-raised-button type="button">Clear</button>
    </div>
  </form>
</div>
