<div class="container" fxFlex fxLayout="column" fxLayoutGap="10px">
  <div fxLayout="row wrap" style="width: 100%">
    <div fxFlex="0" fxFlex.md="0" fxFlex.sm="0" fxFlex.xs="1"></div>
    <div fxFlex="1000px" fxFlex.md="700px" fxFlex.sm="600px" fxFlex.xs="98">
      <app-loading-header-card value="About"></app-loading-header-card>
      <mat-card>
        <mat-card-title> LedgerKeep v3.0.0 </mat-card-title>
        <mat-card-content> &#169; 2020 LedgerKeep Inc. All Rights Reserved. </mat-card-content>
        <br />
        Made by Shivansh Kuchchal
      </mat-card>
    </div>
    <div fxFlex="0" fxFlex.md="0" fxFlex.sm="0" fxFlex.xs="1"></div>
  </div>
</div>
