<div class="container" fxFlex fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center">
  <div fxLayout="row wrap" style="width: 100%">
    <div fxFlex="0" fxFlex.md="0" fxFlex.sm="0" fxFlex.xs="1"></div>
    <div fxFlex="500px" fxFlex.md="500px" fxFlex.sm="500px" fxFlex.xs="98" class="mid-div">
      <app-login-card [action]="onFormSubmit.bind(this)"></app-login-card>
      <br />
      <a routerLink="/forgot-password" class="forgotLink" [ngStyle]="{ color: primaryColor }"
        >Forgot your password?</a
      >
    </div>
    <div fxFlex="0" fxFlex.md="0" fxFlex.sm="0" fxFlex.xs="1"></div>
  </div>
</div>
