<div fxFlex fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="0" fxFlex.md="0" fxFlex.sm="0" fxFlex.xs="1"></div>
  <div fxFlex="400px" fxFlex.md="400px" fxFlex.sm="400px" fxFlex.xs="98">
    <!-- login-card -->
    <mat-card class="card-padding" appRaiseOnLoad>
      <mat-card-title class="thin-font title">Login</mat-card-title>
      <mat-card-content>
        <form [formGroup]="loginForm">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" autocomplete="off" />
            <mat-error *ngIf="loginForm?.get('email').hasError('required')"
              >Email is required.</mat-error
            >
            <mat-error
              *ngIf="
                !loginForm?.get('email')?.hasError('required') &&
                loginForm?.get('email')?.hasError('pattern')
              "
              >Email is invalid.</mat-error
            >
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Password</mat-label>
            <input
              matInput
              formControlName="password"
              [type]="hidePass ? 'password' : 'text'"
              autocomplete="off"
            />
            <button type="button" mat-icon-button matSuffix (click)="hidePass = !hidePass">
              <mat-icon>{{ hidePass ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
            <mat-error *ngIf="loginForm?.get('password').hasError('required')"
              >Password is required.</mat-error
            >
            <mat-error
              *ngIf="
                !loginForm?.get('password')?.hasError('required') &&
                loginForm?.get('password')?.hasError('pattern')
              "
              >Password should not contain whitespaces.</mat-error
            >
          </mat-form-field>

          <div align="end">
            <app-loading-button
              btnText="OK"
              [loading]="isLoading"
              (click)="loginBtnAction()"
            ></app-loading-button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="0" fxFlex.md="0" fxFlex.sm="0" fxFlex.xs="1"></div>
</div>
