<div
  class="container"
  fxFlex
  fxLayout="row-reverse"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutGap="10px"
>
  <div fxFlex="50" fxLayout="column" fxLayoutAlign="center center">
    <app-pie-chart
      class="chart"
      #debitPie
      hideMore="true"
      [isLoading]="isLoading"
      name="Debit Pie Chart"
    ></app-pie-chart>
  </div>
  <div fxFlex="50">
    <app-pie-data-table #table [isLoading]="isLoading"></app-pie-data-table>
  </div>
</div>

<app-bottom-fab-button
  iconName="filter_alt"
  [disabled]="isLoading"
  (click)="openFilterSheet()"
></app-bottom-fab-button>
