<h1 mat-dialog-title>New Category</h1>
<div mat-dialog-content>
  <form [formGroup]="newCategoryForm" (submit)="onSubmit()">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input formControlName="name" matInput autocomplete="off" />
      <mat-error *ngIf="newCategoryForm?.get('name')?.hasError('required')"
        ><mat-icon>error</mat-icon> Field is required.</mat-error
      >
      <mat-error
        *ngIf="
          !newCategoryForm?.get('name')?.hasError('required') &&
          newCategoryForm?.get('name')?.hasError('pattern')
        "
        ><mat-icon>error</mat-icon> Field contains invalid characters.</mat-error
      >
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button color="primary" (click)="onSubmit()">Create</button>
</div>
