<p class="filter-title">Chart Filter</p>

<mat-grid-list cols="2" rowHeight="75px">
  <form [formGroup]="filterForm" (submit)="processQuery()">
    <mat-grid-tile>
      <mat-form-field appearance="outline" class="w-90">
        <mat-label>Start Date</mat-label>
        <input
          id="startDateInput"
          formControlName="startDate"
          matInput
          [matDatepicker]="startDatePicker"
          autocomplete="off"
        />
        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #startDatePicker></mat-datepicker>
        <mat-error *ngIf="filterForm?.get('startDate')?.hasError('invalid')"
          ><mat-icon>error</mat-icon> Invalid date.</mat-error
        >
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline" class="w-90">
        <mat-label>End Date</mat-label>
        <input
          id="endDateInput"
          formControlName="endDate"
          matInput
          [matDatepicker]="endDatePicker"
          autocomplete="off"
        />
        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #endDatePicker></mat-datepicker>
        <mat-error *ngIf="filterForm?.get('endDate')?.hasError('invalid')"
          ><mat-icon>error</mat-icon> Invalid date.</mat-error
        >
        <mat-error
          *ngIf="
            !filterForm?.get('endDate')?.hasError('invalid') &&
            filterForm?.get('endDate')?.hasError('tooLow')
          "
          ><mat-icon>error</mat-icon> Too Low.</mat-error
        >
      </mat-form-field>
    </mat-grid-tile>
  </form>
</mat-grid-list>
<div align="end">
  <button mat-raised-button color="primary" (click)="processQuery()">Apply</button>
  &nbsp;
  <button mat-raised-button (click)="clearQuery()">Clear</button>
</div>
&nbsp;
