@import variables

.toolbar-title
  /* Removing anchor tag styles. */
  text-decoration: inherit
  color: inherit

  /* Special styles for the website title. */
  font-family: 'Rouge Script', cursive
  font-size: 30px

  /* Spacing between the logog and the title. */
  margin-left: 10px


@media screen and ( min-width: $min-medium-screen )
  .toolbar-logo
    /* Logo and title will be more toward the middle on big screens. */
    margin-left: 15%

  