<app-header-card value="Forgot Password"></app-header-card>
<mat-card>
  <mat-card-content>
    <form [formGroup]="passwordResetForm" (submit)="onFormSubmit()">
      <!-- Email Input -->
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput autocomplete="off" />
        <button type="button" mat-button matPrefix mat-icon-button>
          <mat-icon>email</mat-icon>
        </button>
        <mat-hint>We'll send the reset instructions to this mail.</mat-hint>
        <mat-error *ngIf="passwordResetForm?.get('email')?.hasError('required')"
          ><mat-icon>error</mat-icon> Email is required.</mat-error
        >
        <mat-error
          *ngIf="
            !passwordResetForm?.get('email')?.hasError('required') &&
            passwordResetForm?.get('email')?.hasError('pattern')
          "
          ><mat-icon>error</mat-icon> Please enter a valid Email.</mat-error
        >
      </mat-form-field>

      <!-- Actions -->
      <mat-card-actions>
        <app-loading-button
          [isLoading]="isLoading"
          height="50px"
          width="96%"
          value="OK"
          (click)="onFormSubmit()"
        ></app-loading-button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
