<div class="container" fxFlex fxLayout="column" fxLayoutGap="10px">
  <div fxLayout="row wrap" style="width: 100%">
    <div fxFlex="0" fxFlex.md="0" fxFlex.sm="0" fxFlex.xs="1"></div>
    <div fxFlex="700px" fxFlex.md="600px" fxFlex.sm="500px" fxFlex.xs="98">
      <app-loading-header-card
        value="Edit Transaction"
        [isLoading]="isLoading"
      ></app-loading-header-card>
      <app-edit-transaction-card
        #editCard
        [isLoading]="isLoading"
        [categories]="categories"
        [updateAction]="updateTransaction.bind(this)"
        [delAction]="openDeleteDialog.bind(this)"
      ></app-edit-transaction-card>
    </div>
    <div fxFlex="0" fxFlex.md="0" fxFlex.sm="0" fxFlex.xs="1"></div>
  </div>
</div>
